*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.help{
    position: absolute;
    width: 80%;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    padding: 3rem;
    border: 10px solid black;
    color: white;
    font-size: 1.5rem;
}

.help::before{
    content: '';
    position: absolute;
    z-index: -1;
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(8px);
    opacity: 0.6;
    background-color: black;
}

.display-none{
    display: none;
}

h1, h2{
    text-align: center;
    margin-block: 2rem;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

button{
    padding: 0.75rem 4rem;
    color:white;
    background-color: chocolate;
    border: none;
    border-radius: 8px;
    margin-inline: 1rem;
}

ol{
    column-count: 2;
	column-gap: 1em;
}

li{
    padding: 0.55rem 0;
}