*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#canvas{
    border: 1px solid red;
}

#canvas1{
    border: 1px solid black;
}